@import "tailwindcss";
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --background: #ffffff;
  --foreground: #000000;

  --font-sans: 'Mulish', Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  scroll-behavior: smooth;
  @apply antialiased text-base;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "MulishB", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0.5;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideOutToLeft {
  from {
    transform: translateX(0%);
    opacity: 1;
  }

  to {
    transform: translateX(-100%);
    opacity: 0.5;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0.5;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideOutToRight {
  from {
    transform: translateX(0%);
    opacity: 1;
  }

  to {
    transform: translateX(100%);
    opacity: 0.5;
  }
}

.slide-in-right {
  animation: slideInFromRight 0.6s ease forwards;
  z-index: 10;
}

.slide-out-left {
  animation: slideOutToLeft 0.6s ease forwards;
  z-index: 5;
}

.slide-in-left {
  animation: slideInFromLeft 0.6s ease forwards;
  z-index: 10;
}

.slide-out-right {
  animation: slideOutToRight 0.6s ease forwards;
  z-index: 5;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 3s ease-in-out forwards;
}

.custom-scroll-x {
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
}

.custom-scroll-x::-webkit-scrollbar {
  height: 4px;
}

.custom-scroll-x::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll-x::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 2px;
}

.custom-scroll-x::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

.ripple-effect {
  animation: ripple 2s ease-out infinite;
}

@keyframes ripple {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }

  70% {
    transform: scale(1.8);
    opacity: 0;
  }

  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}

.shake-rotate {
  animation: shake-rotate 0.8s ease-in-out infinite;
  transform-origin: center;
}

@keyframes shake-rotate {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(-20deg);
  }

  20% {
    transform: rotate(20deg);
  }

  30% {
    transform: rotate(-20deg);
  }

  40% {
    transform: rotate(20deg);
  }

  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.pulse-zoom {
  animation: pulseZoom 1s ease-in-out infinite;
}

@keyframes pulseZoom {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}