@import "tailwindcss";
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #000000;
  --text-color: #3c3c3c;

  --font-sans: 'Mulish', Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  scroll-behavior: smooth;
  @apply antialiased text-base;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "MulishB", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--text-color);
  line-height: 1.3;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0.5;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideOutToLeft {
  from {
    transform: translateX(0%);
    opacity: 1;
  }

  to {
    transform: translateX(-100%);
    opacity: 0.5;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0.5;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideOutToRight {
  from {
    transform: translateX(0%);
    opacity: 1;
  }

  to {
    transform: translateX(100%);
    opacity: 0.5;
  }
}

.slide-in-right {
  animation: slideInFromRight 0.6s ease forwards;
  z-index: 10;
}

.slide-out-left {
  animation: slideOutToLeft 0.6s ease forwards;
  z-index: 5;
}

.slide-in-left {
  animation: slideInFromLeft 0.6s ease forwards;
  z-index: 10;
}

.slide-out-right {
  animation: slideOutToRight 0.6s ease forwards;
  z-index: 5;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 3s ease-in-out forwards;
}

.ripple-effect {
  animation: ripple 2s ease-out infinite;
}

@keyframes ripple {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }

  70% {
    transform: scale(1.8);
    opacity: 0;
  }

  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}

.shake-rotate {
  animation: shake-rotate 0.8s ease-in-out infinite;
  transform-origin: center;
}

@keyframes shake-rotate {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(-20deg);
  }

  20% {
    transform: rotate(20deg);
  }

  30% {
    transform: rotate(-20deg);
  }

  40% {
    transform: rotate(20deg);
  }

  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.pulse-zoom {
  animation: pulseZoom 1s ease-in-out infinite;
}

@keyframes pulseZoom {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

.shadow-custom-card {
  box-shadow: 0 1px 3px -2px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}

/* Hide scrollbar cross-browser */
.scrollbar-hide {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari and Opera */
}

@layer utilities {
  @keyframes modalSlideUp {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .animate-modal {
    animation: modalSlideUp 0.5s ease-out forwards;
  }
}

@keyframes slideInDiagonal {
  from {
    opacity: 0;
    transform: translate(40px, 40px) scale(0.95);
  }

  to {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}

.chat-content-animate {
  animation: slideInDiagonal 0.3s ease-out;
}

.font_mulishb {
  font-family: 'Mulish', Arial, Helvetica, sans-serif !important;
}